<div ng-controller="WorldMapController" class="mainPageDemo col-md-6">
    <div class="info country f32" ng-show="selectedCountry.properties">
        <div class="flag" ng-class="countries[selectedCountry.id]['alpha-2']|lowercase"></div>
        {{ selectedCountry.properties.name }}
    </div>
    <leaflet center="center" events="events" legend="legend" defaults="defaults" geojson="geojson" height="400"></leaflet>
    <p>This example is partially based on <a href="http://leafletjs.com/examples/choropleth.html">this Leaflet demo</a>. CSS +      Images of flags obtained from the <a href="https://github.com/lafeber/world-flags-sprite">World Flags Sprite</a> project.</p>
    <p>You can see a standalone example of this code <a href="examples/geojson-example.html">here</a>.</p>
</div>
