<div class="row">
    <div class="col-md-12">
        <h1>Advanced examples</h1>
        <p>Let's see some more advanced examples.</p>
        <hr />
    </div>
</div>

<div class="row" ng-switch on="exampleTab">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li ng-class="{ active: exampleTab == 'customize-markers' }"><a ng-href="#/advanced-examples/customize-markers" ng-click="exampleTab='customize-markers'" data-toggle="tab">Customize markers</a></li>
            <li ng-class="{ active: exampleTab == 'geojson' }"><a ng-href="#/advanced-examples/geojson" ng-click="exampleTab='geojson'" data-toggle="tab">GeoJSON</a></li>
            <li ng-class="{ active: exampleTab == 'legend' }"><a ng-href="#/advanced-examples/legend" ng-click="exampleTab='legend'" data-toggle="tab">Legend</a></li>
            <li ng-class="{ active: exampleTab == 'path' }"><a ng-href="#/advanced-examples/path" ng-click="exampleTab='path'" data-toggle="tab">Paths</a></li>
        </ul>
    </div>

    <div class="col-md-9" ng-switch-when="geojson">
        <leaflet></leaflet>
        <h2>Simple map example</h2>
        <p>This is the simpliest way to embed a Leaflet map on our application. We only have to add <strong>angular-leaflet-map</strong> to our AngularJS application dependencies, and use our custom tag <strong>&lt;leaflet&gt;</strong> on the HTML code. As easy as pie.</p>

        <ul class="nav nav-tabs">
            <li class="active"><a href="" ng-click="activeTab='html'" data-toggle="tab">HTML code</a></li>
            <li><a href="" ng-click="activeTab='javascript'" data-toggle="tab">Javascript</a></li>
        </ul>
        <div class="tab-container" ng-switch on="activeTab">
            <div hljs ng-switch-default>
<div ng-controller="BasicMapController">
    <leaflet></leaflet>
</div></div>
            <div hljs ng-switch-when="javascript">
var app = angular.module("basicMapApp", ["leaflet-directive"]);
app.controller("BasicMapController", [ "$scope", function($scope) {
        // Nothing here!
}]);</div>
        <p style="margin-top: 1em;">You can see a standalone example of this code <a href="examples/simple-example.html">here</a>.</p>
        </div>
    </div>

    <div class="col-md-9" ng-controller="CustomizeMarkersController" ng-switch-when="customize-markers">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
                <input type="checkbox"> Marker 1
            </label>
            <label class="btn btn-primary">
                <input type="checkbox"> Option 2
            </label>
            <label class="btn btn-primary">
                <input type="checkbox"> Option 3
            </label>
        </div>
        <leaflet markers="markers" center="lisboa"></leaflet>
        <h2>Customize markers example</h2>
        <p>You can interact with a leaflet marker with changed parameters on this code.</p>
        <ul class="nav nav-tabs">
            <li class="active"><a href="" ng-click="activeTab='html'" data-toggle="tab">HTML code</a></li>
            <li><a href="" ng-click="activeTab='javascript'" data-toggle="tab">Javascript Angular controller</a></li>
        </ul>
        <div class="tab-container" ng-switch on="activeTab">
            <div hljs ng-switch-default>
<div ng-controller="DraggingMarkersController">
    <leaflet markers="markers" center="center"></leaflet>
</div></div>
            <div hljs ng-switch-when="javascript">
var app = angular.module("mainPage", ['leaflet-directive']);
app.controller("DraggingMarkersController", [ '$scope', function($scope) {
    angular.extend($scope, {
        center: {
            lat: 40.095,
            lng: -3.823,
            zoom: 6
        },
        markers: {
            Madrid: {
                lat: 40.095,
                lng: -3.823,
                message: "This is Madrid. Drag me to another position",
                focus: true,
                draggable: true
            },
            Barcelona: {
                lat: 41.38,
                lng: 2.18,
                message: "This is Barcelona. You can't drag me",
                focus: false,
                draggable: false
            }
        }
    });
}]);</div>
            <p>See how the form inputs change with the map interaction and viceversa. You can also see the code demonstrating this feature in the <a href="examples/markers-example.html">markers example demo</a>.</p>
        </div>
    </div>
</div>
