<div class="row">
    <div class="col-md-12">
        <h1>Basic examples</h1>
        <p>Let's see some basic examples showing how to use the library on our AngularJS code.</p>
    </div>
</div>
<div class="row" ng-switch on="exampleTab">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li ng-class="{ active: exampleTab == 'simple-map' }"><a href="#/basic-examples/simple-map" ng-click="exampleTab='simple-map'" data-toggle="tab">Simple map</a></li>
            <li ng-class="{ active: exampleTab == 'center' }"><a href="#/basic-examples/center" ng-click="exampleTab='center'" data-toggle="tab">Center</a></li>
            <li ng-class="{ active: exampleTab == 'custom-parameters' }"><a href="#/basic-examples/custom-parameters" ng-click="exampleTab='custom-parameters'" data-toggle="tab">Custom parameters</a></li>
            <li ng-class="{ active: exampleTab == 'dragging-markers' }"><a href="#/basic-examples/dragging-markers" ng-click="exampleTab='dragging-markers'" data-toggle="tab">Dragging marker</a></li>
        </ul>
    </div>

    <div class="col-md-9" ng-switch-when="simple-map">
        <leaflet></leaflet>
    </div>

    <div class="col-md-9" ng-switch-when="custom-parameters" ng-controller="CustomParametersController">
        <leaflet center="london" defaults="defaults"></leaflet>
    </div>

    <div class="col-md-9" ng-controller="CenterController" ng-switch-when="center">
        <leaflet center="center"></leaflet>
        <form class="form-inline" role="form">
            <div class="form-group">
                <div class="control-group col col-lg-3">
                    <label for="mapCenter" class="control-label">Center</strong>
                </div>
                <div class="control-group col col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">lat</span>
                        <input class="form-control" type="number" step="any" ng-model="center.lat" />
                    </div>
                </div>
                <div class="control-group col col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">lon</span>
                        <input class="form-control" type="number" step="any" ng-model="center.lng" />
                    </div>
                </div>
                <div class="control-group col col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">zoom</span>
                        <input class="form-control"  type="number" ng-model="center.zoom" />
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-9" ng-controller="DraggingMarkerController" ng-switch-when="dragging-markers">
        <leaflet markers="markers" center="center"></leaflet>
        <form class="form-inline" role="form">
            <div class="form-group">
                <div class="control-group col col-lg-3">
                    <label for="mapCenter" class="control-label">Center</strong>
                </div>
                <div class="control-group col col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">lat</span>
                        <input class="form-control" type="number" step="any" ng-model="center.lat" />
                    </div>
                </div>
                <div class="control-group col col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">lon</span>
                        <input class="form-control" type="number" step="any" ng-model="center.lng" />
                    </div>
                </div>
                <div class="control-group col col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">zoom</span>
                        <input class="form-control"  type="number" ng-model="center.zoom" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="control-group col col-lg-3">
                    <label for="marker" class="control-label">Marker</strong>
                </div>
                <div class="control-group col col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">lat</span>
                        <input class="form-control" type="number" step="any" ng-model="markers.Madrid.lat" />
                    </div>
                </div>
                <div class="control-group col col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">long</span>
                        <input class="form-control" type="number" step="any" ng-model="markers.Madrid.lng"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row" ng-switch on="exampleTab">
    <div class="col-md-12" ng-switch-when="simple-map">
        <h2>Simple map example</h2>
        <p>Let's see some basic examples showing how to use the library on our AngularJS code.</p>
        This is accomplished with this directive:</p>
        <code>&lt;leaflet&gt;&lt;/leaflet&gt;</code>
        <p style="margin-top: 1em;">You can also see the code of this feature in the <a href="examples/simple-example.html">simple example demo</a>.</p>
    </div>

    <div class="col-md-9" ng-controller="DragMarkerController" ng-switch-when="dragging-markers">
        <h2>Dragging marker example</h2>
        <p>You can interact with a leaflet marker with this code on
        your HTML:</p>
        <pre class="prettyprint lang-javascript linenums">&lt;leaflet markers="markers" center="center"&gt;&lt;/leaflet&gt;</pre>
        <p>And this code on your controller:</p>
        <pre class="prettyprint lang-javascript">
angular.extend($scope, {
    center: {
        lat: 40.095,
        lng: -3.823,
        zoom: 4
    },
    markers: {
        Madrid: {
            lat: 40.095,
            lng: -3.823,
            message: "Drag me to another position",
            focus: true,
            draggable: true
        }
    }
});</pre>
        <p>See how the form inputs change with the map interaction and viceversa. You can also see the code demonstrating this feature in the <a href="examples/markers-example.html">markers example demo</a>.</p>
    </div>
</div>

        <div class="row" ng-controller="LegendController">
            <div class="span10 offset1">
                <hr />
                <h3>Legend Demo</h3>
            </div>
            <div class="span5 offset1">
                <p>Maybe you're interested on a map including a legend with a list of elements identified on the map by color.
                This is accomplished with this directive:</p>
                <code>&lt;leaflet legend="legend" center="london"&gt;&lt;/leaflet&gt;</code>
                <p style="margin-top: 1em;">We would need to add a property <strong>legend</strong> to the scope similar to this one:</p>
                <pre class="prettyprint lang-javascript">$scope.legend = {
   position: 'bottomleft',
   colors: [ '#ff0000',
             '#28c9ff',
             '#0000ff',
             '#ecf386' ],
   labels: [ 'National Cycle Route',
             'Regional Cycle Route',
             'Local Cycle Network',
             'Cycleway' ]
};
</pre>
                <p style="margin-top: 1em;">And we would need to add a <strong>center</strong> attribute too:</p>
                <pre class="prettyprint lang-javascript">$scope.london = {
    lat: 51.505,
    lng: -0.09,
    zoom: 12
};
</pre>
            </div>
            <div class="span5">
                <p>Finally, we need some styles to decorate our leaflet legend:</p>
                <pre class="prettyprint lang-javascript">
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
</pre>
            <p>This example is based on this LeafletJS tutorial: <a href="http://leafletjs.com/examples/choropleth.html">http://leafletjs.com/examples/choropleth.html</a>.</p>
            </div>
            <div class="offset1 span10">
                <leaflet class="simple" center="london" legend="legend"></leaflet>
            </div>
        </div>
