<div class="row">
    <div class="col-md-12">
        <h1>Basic examples</h1>
        <p>Let's see some basic examples showing how to use the library on our AngularJS code.</p>
    </div>
</div>
<div class="row" ng-switch on="exampleTab">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li ng-class="{ active: exampleTab == 'simple-map' }"><a href="#/basic-examples/simple-map" ng-click="exampleTab='simple-map'" data-toggle="tab">Simple map</a></li>
            <li ng-class="{ active: exampleTab == 'custom-parameters' }"><a href="#/basic-examples/custom-parameters" ng-click="exampleTab='custom-parameters'" data-toggle="tab">Custom parameters</a></li>
            <li ng-class="{ active: exampleTab == 'dragging-markers' }"><a href="#/basic-examples/dragging-markers" ng-click="exampleTab='dragging-markers'" data-toggle="tab">Dragging marker</a></li>
        </ul>
    </div>

    <div class="col-md-9" ng-switch-default>
        <leaflet></leaflet>
    </div>

    <div class="col-md-9" ng-controller="DragMarkerController" ng-switch-when="dragging-markers">
        <leaflet markers="markers" center="center"></leaflet>
    </div>
</div>

<div class="row" ng-switch on="exampleTab">
    <div class="col-md-12" ng-switch-when="simple-map">
        <h2>Simple map example</h2>
        <p>Let's see some basic examples showing how to use the library on our AngularJS code.</p>
        This is accomplished with this directive:</p>
        <code>&lt;leaflet&gt;&lt;/leaflet&gt;</code>
        <p style="margin-top: 1em;">You can also see the code of this feature in the <a href="examples/simple-example.html">simple example demo</a>.</p>
    </div>

    <div class="col-md-9" ng-controller="DragMarkerController" ng-switch-when="dragging-markers">
        <h2>Dragging marker example</h2>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="mapCenter" class="control-label">Center</strong>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">lat</span>
                        <input class="form-control input-md" type="number" step="any" ng-model="center.lat" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">lon</span>
                        <input class="form-control" type="number" step="any" ng-model="center.lng" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">zoom</span>
                        <input class="form-control"  type="number" ng-model="center.zoom" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="marker" class="col-md-2 control-label">Marker</strong>
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon">lat</span>
                        <input class="form-control" type="number" step="any" ng-model="markers.Madrid.lat" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">long</span>
                        <input class="form-control" type="number" step="any" ng-model="markers.Madrid.lng"/>
                    </div>
                </div>
            </div>
        </form>
        <p>You can interact with a leaflet marker with this code on
        your HTML:</p>
        <pre class="prettyprint lang-javascript linenums">&lt;leaflet markers="markers" center="center"&gt;&lt;/leaflet&gt;</pre>
        <p>And this code on your controller:</p>
        <pre class="prettyprint lang-javascript">
angular.extend($scope, {
    center: {
        lat: 40.095,
        lng: -3.823,
        zoom: 4
    },
    markers: {
        Madrid: {
            lat: 40.095,
            lng: -3.823,
            message: "Drag me to your position",
            focus: true,
            draggable: true
        }
    }
});</pre>
        <p>See how the form inputs change with the map interaction and viceversa. You can also see the code demonstrating this feature in the <a href="examples/markers-example.html">markers example demo</a>.</p>
    </div>
</div>
