<div class="row">
    <div class="col-md-12">
        <h1>Basic examples</h1>
        <p>Let's see some basic examples showing how to use the library on our AngularJS code.</p>
    </div>
</div>
<div class="row" ng-switch on="activeTab">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="">Simple map</a></li>
            <li><a href="">Custom parameters</a></li>
            <li><a href="">Dragging marker</a></li>
        </ul>
    </div>
    <div class="col-md-9" ng-switch-default>
        <leaflet width="400" height="300" class="pull-right"></leaflet>
        <p>Let's see some basic examples showing how to use the library on our AngularJS code.</p>
        This is accomplished with this directive:</p>
        <code>&lt;leaflet&gt;&lt;/leaflet&gt;</code>
        <p style="margin-top: 1em;">You can also see the code of this feature in the <a href="examples/simple-example.html">simple example demo</a>.</p>
    </div>
    <div class="col-md-9" ng-controller="DragMarkerController" ng-switch-when="'dragging-marker'">
        <leaflet markers="markers" center="center"></leaflet>
        <form class="form">
            <div class="control-group span6">
                <strong class="span1 title">Center</strong>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on">lat</span>
                        <input class="input-mini" type="number" step="any" ng-model="center.lat" />
                    </div>
                    <div class="input-prepend">
                        <span class="add-on">lon</span>
                        <input class="input-mini" type="number" step="any" ng-model="center.lng" />
                    </div>
                    <div class="input-prepend">
                        <span class="add-on">zoom</span>
                        <input class="input-mini"  type="number" ng-model="center.zoom" />
                    </div>
                </div>
            </div>
            <div class="control-group span5">
                <strong class="span1 title">Marker</strong>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on">lat</span>
                        <input class="input-mini" type="number" step="any" ng-model="markers.Madrid.lat" />
                    </div>
                    <div class="input-prepend">
                        <span class="add-on">long</span>
                        <input class="input-mini" type="number" step="any" ng-model="markers.Madrid.lng"/>
                    </div>
                </div>
            </div>
        </div>
        <p>You can interact with a leaflet marker with this code on
        your HTML:</p>
        <pre class="prettyprint lang-javascript linenums">&lt;leaflet markers="markers" center="center"&gt;&lt;/leaflet&gt;</pre>
        <p>And this code on your controller:</p>
        <pre class="prettyprint lang-javascript">
angular.extend($scope, {
    center: {
        lat: 40.095,
        lng: -3.823,
        zoom: 4
    },
    markers: {
        Madrid: {
            lat: 40.095,
            lng: -3.823,
            message: "Drag me to your position",
            focus: true,
            draggable: true
        }
    }
});</pre>
        <p>See how the form inputs change with the map interaction and viceversa. You can also see the code demonstrating this feature in the <a href="examples/markers-example.html">markers example demo</a>.</p>
    </div>
</div>
