<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Examples</h1>
        </div>
        <p>Let's see some progressive examples showing how to use the library on your AngularJS code. Before continue, we must have some notions of how to initialize an AngularJS app. You can find more information about a basic setup of an AngularJS application on the <a href="http://angularjs.org/">official AngularJS page</a>.</p>
    </div>
</div>

<br />
<div class="row" ng-switch on="exampleTab">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li ng-class="{ active: exampleTab == 'simple-map' }"><a ng-href="#!/examples/simple-map" ng-click="exampleTab='simple-map'" data-toggle="tab">Simple map</a></li>
            <li ng-class="{ active: exampleTab == 'center' }"><a ng-href="#!/examples/center" ng-click="exampleTab='center'" data-toggle="tab">Center</a></li>
            <li ng-class="{ active: exampleTab == 'custom-parameters' }"><a ng-href="#!/examples/custom-parameters" ng-click="exampleTab='custom-parameters'" data-toggle="tab">Custom parameters</a></li>
            <li ng-class="{ active: exampleTab == 'events' }"><a ng-href="#!/examples/events" ng-click="exampleTab='events'" data-toggle="tab">Events</a></li>
            <li ng-class="{ active: exampleTab == 'main-marker' }"><a ng-href="#!/examples/main-marker" ng-click="exampleTab='main-marker'" data-toggle="tab">Main Marker</a></li>
            <li ng-class="{ active: exampleTab == 'dragging-markers' }"><a ng-href="#!/examples/dragging-markers" ng-click="exampleTab='dragging-markers'" data-toggle="tab">Dragging markers</a></li>
            <li ng-class="{ active: exampleTab == 'path' }"><a ng-href="#!/examples/path" ng-click="exampleTab='path'" data-toggle="tab">Paths</a></li>
            <li ng-class="{ active: exampleTab == 'geojson' }"><a ng-href="#!/examples/geojson" ng-click="exampleTab='geojson'" data-toggle="tab">GeoJSON</a></li>
            <li ng-class="{ active: exampleTab == 'legend' }"><a ng-href="#!/examples/legend" ng-click="exampleTab='legend'" data-toggle="tab">Legend</a></li>
            <li ng-class="{ active: exampleTab == 'customize-markers' }"><a ng-href="#!/examples/customize-markers" ng-click="exampleTab='customize-markers'" data-toggle="tab">Customized markers</a></li>
            <li ng-class="{ active: exampleTab == 'google-maps' }"><a ng-href="#!/examples/google-maps" ng-click="exampleTab='google-maps'" data-toggle="tab">Google Maps integration</a></li>

        </ul>
    </div>

    <div class="col-md-10" ng-switch-when="simple-map" ng-controller="SimpleMapController">
        <leaflet defaults="defaults"></leaflet>
        <h2>Simple map example</h2>
        <p>This is the simpliest way to embed a Leaflet map on our application. We only have to add <strong>angular-leaflet-map</strong> to our AngularJS application dependencies, and use our custom tag <span class="label label-primary">&lt;leaflet&gt;</span> on the HTML code. Easy as pie.</p>

        <ul class="nav nav-tabs">
            <li class="active"><a href="" ng-click="activeTab='html'" data-toggle="tab">HTML code</a></li>
            <li><a href="" ng-click="activeTab='javascript'" data-toggle="tab">Javascript</a></li>
        </ul>
        <div class="tab-container" ng-switch on="activeTab">
            <div hljs ng-switch-default>
<leaflet></leaflet></div>
            <div hljs ng-switch-when="javascript">
var app = angular.module("basicMapApp", ["leaflet-directive"]);
</div>
            <p>You can see a standalone example of this code <a href="examples/simple-example.html">here</a>.</p>
        </div>
    </div>

    <div class="col-md-10" ng-controller="CenterController" ng-switch-when="center">
        <leaflet center="center" defaults="defaults"></leaflet>
        <form class="form-inline" role="form">
            <div class="form-group">
                <div class="control-group col col-lg-3">
                    <label for="mapCenter" class="control-label">Center</strong>
                </div>
                <div class="control-group col col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">lat</span>
                        <input class="form-control" type="number" step="any" ng-model="center.lat" />
                    </div>
                </div>
                <div class="control-group col col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">lon</span>
                        <input class="form-control" type="number" step="any" ng-model="center.lng" />
                    </div>
                </div>
                <div class="control-group col col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">zoom</span>
                        <input class="form-control"  type="number" ng-model="center.zoom" />
                    </div>
                </div>
            </div>
        </form>
        <h2>Center example</h2>
        <p>Let's position our map. We can center and zoom an specific position of the map via a bi-directional property called <strong>center</strong>, which 3 properties inside: <span class="label label-warning">lat</span>, <span class="label label-warning">lng</span> and <span class="label label-warning">zoom</span>. This properties could be changed on the fly, updating our map position, and viceversa.</p>
        <ul class="nav nav-tabs">
            <li class="active"><a href="" ng-click="activeTab='html'" data-toggle="tab">HTML code</a></li>
            <li><a href="" ng-click="activeTab='javascript'" data-toggle="tab">Javascript</a></li>
        </ul>
        <div class="tab-container" ng-switch on="activeTab">
            <div hljs ng-switch-default>
<div ng-controller="CenterController">
    <form>
        Latitude : <input type="number" step="any" ng-model="center.lat" />
        Longitude : <input type="number" step="any" ng-model="center.lng" />
        Zoom : <input type="number" step="any" ng-model="center.zoom" />
    </form>
    <leaflet center="center"></leaflet>
</div></div>
            <div hljs ng-switch-when="javascript">
 app.controller("CenterController", [ '$scope', function($scope) {
     angular.extend($scope, {
         center: {
             lat: 40.095,
             lng: -3.823,
             zoom: 4
         }
     });
}]);</div>
        </div>
        <p>You can see a standalone example of this code <a href="examples/center-example.html">here</a>.</p>
    </div>

    <div class="col-md-10" ng-switch-when="custom-parameters" ng-controller="CustomParametersController">
        <leaflet center="london" defaults="defaults"></leaflet>
        <h2>Custom parameters example</h2>
        <p>Now that we know how to center the map to a selected position, we would like to change some default features or visualizations of the map. We can override the default behaviour of the map properties via the <strong>defaults</strong> attribute. The options are pretty self-explanatory:</p>
        <ul class="nav nav-tabs">
            <li class="active"><a href="" data-toggle="tab">Default options</a></li>
        </ul>
        <div class="tab-container" ng-switch on="activeTab">
            <div hljs>
{
    maxZoom: 14,
    minZoom: 1,
    doubleClickZoom: true,
    scrollWheelZoom: true,
    tileLayer: 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
    tileLayerOptions: {
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    },
    icon: {
        url: 'http://cdn.leafletjs.com/leaflet-0.5.1/images/marker-icon.png',
        retinaUrl: 'http://cdn.leafletjs.com/leaflet-0.5.1/images/marker-icon@2x.png',
        size: [25, 41],
        anchor: [12, 40],
        popup: [0, -40],
        shadow: {
            url: 'http://cdn.leafletjs.com/leaflet-0.5.1/images/marker-shadow.png',
            retinaUrl: 'http://cdn.leafletjs.com/leaflet-0.5.1/images/marker-shadow.png',
            size: [41, 41],
            anchor: [12, 40]
        }
    },
    path: {
        weight: 10,
        opacity: 1,
        color: '#0000ff'
    },
    center: {
        lat: 0,
        lng: 0,
        zoom: 10
    }
}</div>
        </div>
        <p>We can override the properties we would like to change, for example, to obtain a map like the upper one you see on this page. Let's see the necessary code:</p>
        <ul class="nav nav-tabs">
            <li class="active"><a href="" ng-click="activeTab='html'" data-toggle="tab">HTML code</a></li>
            <li><a href="" ng-click="activeTab='javascript'" data-toggle="tab">Javascript</a></li>
        </ul>
        <div class="tab-container" ng-switch on="activeTab">
            <div hljs ng-switch-default>
<div ng-controller="CustomParametersController">
    <leaflet center="london" defaults="defaults"></leaflet>
</div></div>
            <div hljs ng-switch-when="javascript">
app.controller("CustomParametersController", [ '$scope', function($scope) {
    angular.extend($scope, {
        london: {
            lat: 51.505,
            lng: -0.09,
            zoom: 8
        },
        defaults: {
            tileLayer: "http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png",
            tileLayerOptions: {
                opacity: 0.9,
                detectRetina: true,
                reuseTiles: true,
            },
            scrollWheelZoom: false
        }
    });
}]);</div>
        </div>
        <p>You can see a standalone example of this code <a href="examples/custom-parameters-example.html">here</a>.</p>
    </div>

    <div class="col-md-10" ng-switch-when="events" ng-controller="EventsController">
        <ul>
            <li><strong ng-bind="eventDetected"></strong> caught in listener.</li>
        </ul>
        <leaflet center="center" events="events" defaults="defaults"></leaflet>
        <h2>Events management example</h2>

        <p>If our application needs to be notified when some event gets fired on the Leaflet map, we can listen for broadcast messages of specific events, so we can react after the event notification. These are the events we can get notified on our application:</p>

        <ul class="nav nav-tabs">
            <li class="active"><a href="" ng-click="activeTab='html'" data-toggle="tab">Leaflet events</a></li>
        </ul>
        <div class="tab-container" ng-switch on="activeTab">
            <div hljs ng-switch-default language="javascript">
click, dblclick, mousedown, mouseup, mouseover, mouseout, mousemove, contextmenu, focus, blur, preclick, load, unload, viewreset, movestart, move, moveend, dragstart, drag, dragend, zoomstart, zoomend, zoomlevelschange, resize, autopanstart, layeradd, layerremove, baselayerchange, overlayadd, overlayremove, locationfound, locationerror, popupopen, popupclose</div>
        </div>

        <ul class="nav nav-tabs">
            <li class="active"><a href="" ng-click="activeTab='html'" data-toggle="tab">HTML code</a></li>
            <li><a href="" ng-click="activeTab='javascript'" data-toggle="tab">Javascript</a></li>
        </ul>
        <div class="tab-container" ng-switch on="activeTab">
            <div hljs ng-switch-default>
<div ng-controller="EventsController">
    <ul>
        <li><strong ng-bind="eventDetected"></strong> caught in listener.</li>
    </ul>
    <leaflet center="center" events="events"></leaflet>
</div></div>
            <div hljs ng-switch-when="javascript">
var app = angular.module("eventsApp", ["leaflet-directive"]);
app.controller("EventsController", [ "$scope", function($scope) {
    $scope.center  = {
        lat: 52.374004,
        lng: 4.890359,
        zoom: 7
    };
    $scope.eventDetected = "No events yet...";

    $scope.$on('leafletDirectiveMap.zoomstart', function(event){
        $scope.eventDetected = "ZoomStart";
    });

    $scope.$on('leafletDirectiveMap.drag', function(event){
        $scope.eventDetected = "Drag";
    });

    $scope.$on('leafletDirectiveMap.click', function(event){
        $scope.eventDetected = "Click";
    });

    $scope.$on('leafletDirectiveMap.mousemove', function(event){
        $scope.eventDetected = "MouseMove";
    });
}]);</div>
            <p>You can see a standalone example of this code <a href="examples/events-example.html">here</a>.</p>
        </div>
    </div>

    <div class="col-md-10" ng-controller="MainMarkerController" ng-switch-when="main-marker">
        <leaflet marker="osloMarker" center="osloCenter" defaults="defaults"></leaflet>
        <h2>Main marker example</h2>
        <p>You can add a marker to your map easy using the <strong>marker</strong> property on the leaflet tag:</p>
        <ul class="nav nav-tabs">
            <li class="active"><a href="" ng-click="activeTab='html'" data-toggle="tab">HTML code</a></li>
            <li><a href="" ng-click="activeTab='javascript'" data-toggle="tab">Javascript Angular controller</a></li>
        </ul>
        <div class="tab-container" ng-switch on="activeTab">
            <div hljs ng-switch-default>
<div ng-controller="MainMarkerController">
    <leaflet marker="osloMarker" center="osloCenter"></leaflet>
</div></div>
            <div hljs ng-switch-when="javascript">
var app = angular.module("mainPage", ['leaflet-directive']);
app.controller("MainMarkerController", ['$scope', function($scope) {
    angular.extend($scope, {
        osloCenter: {
            lat: 59.91,
            lng: 10.75,
            zoom: 12
        },
        osloMarker: {
            lat: 59.91,
            lng: 10.75,
            message: "I want to travel here!",
            focus: true,
            draggable: false
        }
    });
}]);</div>
            <p>You can also see the code demonstrating this feature in the <a href="examples/main-marker-example.html">main marker example demo</a>.</p>
        </div>
    </div>

    <div class="col-md-10" ng-controller="DraggingMarkersController" ng-switch-when="dragging-markers">
        <leaflet markers="markers" center="center" defaults="defaults"></leaflet>
        <form class="form-inline" role="form">
            <div class="form-group">
                <div class="control-group col col-lg-3">
                    <label for="mapCenter" class="control-label">Center</strong>
                </div>
                <div class="control-group col col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">zoom</span>
                        <input class="form-control"  type="number" ng-model="center.zoom" />
                    </div>
                </div>
                <div class="control-group col col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">lat</span>
                        <input class="form-control" type="number" step="any" ng-model="center.lat" />
                    </div>
                </div>
                <div class="control-group col col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">lon</span>
                        <input class="form-control" type="number" step="any" ng-model="center.lng" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="control-group col col-lg-6">
                    <label for="marker" class="control-label">Madrid marker position</strong>
                </div>
                <div class="control-group col col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">lat</span>
                        <input class="form-control" type="number" step="any" ng-model="markers.Madrid.lat" />
                    </div>
                </div>
                <div class="control-group col col-lg-3">
                    <div class="input-group">
                        <span class="input-group-addon">lon</span>
                        <input class="form-control" type="number" step="any" ng-model="markers.Madrid.lng"/>
                    </div>
                </div>
            </div>
        </form>
        <h2>Dragging markers example</h2>
        <p>You can interact with a leaflet marker updating its position on the scope:</p>
        <ul class="nav nav-tabs">
            <li class="active"><a href="" ng-click="activeTab='html'" data-toggle="tab">HTML code</a></li>
            <li><a href="" ng-click="activeTab='javascript'" data-toggle="tab">Javascript Angular controller</a></li>
        </ul>
        <div class="tab-container" ng-switch on="activeTab">
            <div hljs ng-switch-default>
<div ng-controller="DraggingMarkersController">
    <leaflet markers="markers" center="center"></leaflet>
</div></div>
            <div hljs ng-switch-when="javascript">
var app = angular.module("mainPage", ['leaflet-directive']);
app.controller("DraggingMarkersController", [ '$scope', function($scope) {
    angular.extend($scope, {
        center: {
            lat: 40.095,
            lng: -3.823,
            zoom: 6
        },
        markers: {
            Madrid: {
                lat: 40.095,
                lng: -3.823,
                message: "This is Madrid. But you can drag me to another position",
                focus: true,
                draggable: true
            },
            Barcelona: {
                lat: 41.38,
                lng: 2.18,
                message: "This is Barcelona. You can't drag me",
                focus: false,
                draggable: false
            }
        }
    });
}]);</div>
            <p>See how the form inputs change with the map interaction and viceversa. You can also see the code demonstrating this feature in the <a href="examples/markers-example.html">markers example demo</a>.</p>
        </div>
    </div>

    <div class="col-md-10" ng-controller="CustomizedMarkersController" ng-switch-when="customize-markers">
        <p>Click on the buttons to change the marker object default properties:</p>
        <button type="button" class="btn btn-primary padright" ng-click="markers.m1.icon=icon" ng-repeat="(key, icon) in icons">{{ key }}</button>
        <leaflet markers="markers" center="lisbon" defaults="defaults"></leaflet>
        <h2>Customized markers example</h2>
        <p>You can change the marker default options to customize it like we see on this example.</p>
        <ul class="nav nav-tabs">
            <li class="active"><a href="" ng-click="activeTab='html'" data-toggle="tab">HTML code</a></li>
            <li><a href="" ng-click="activeTab='javascript'" data-toggle="tab">Javascript Angular controller</a></li>
        </ul>
        <div class="tab-container" ng-switch on="activeTab">
            <div hljs ng-switch-default>
<div ng-controller="CustomizedMarkersController">
    <button type="button" class="btn btn-primary padright" ng-click="markers.m1.icon=icon" ng-repeat="(key, icon) in icons">{{ key }}</button>
    <leaflet markers="markers" center="lisbon"></leaflet>
</div></div>
            <div hljs ng-switch-when="javascript">
var app = angular.module("mainPage", ['leaflet-directive']);
app.controller("CustomizedMarkersController", [ '$scope', function($scope) {
    var local_icons = {
        leaf_icon: L.icon({
            iconUrl: 'examples/img/leaf-green.png',
            shadowUrl: 'examples/img/leaf-shadow.png',
             iconSize:     [38, 95], // size of the icon
            shadowSize:   [50, 64], // size of the shadow
            iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
            shadowAnchor: [4, 62],  // the same for the shadow
            popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
        }),
        default_icon: L.icon({
            iconUrl: 'http://cdn.leafletjs.com/leaflet-0.6.4/images/marker-icon.png',
            shadowUrl: 'http://cdn.leafletjs.com/leaflet-0.6.4/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 40],
            popupAnchor: [0, -40],
            shadowSize: [41, 41],
            shadowAnchor: [12, 40]
        }),
        div_icon: L.divIcon({
            iconSize: [230, 0],
            html: 'Using <strong>Bold text as an icon</strong>: Lisbon',
            popupAnchor:  [0, 0]
        }),
        object_icon: {
            iconUrl: 'http://leafletjs.com/docs/images/leaf-orange.png',
            shadowUrl: 'http://leafletjs.com/docs/images/leaf-shadow.png',
            iconSize:     [38, 95],
            shadowSize:   [50, 64],
            iconAnchor:   [22, 94],
            shadowAnchor: [4, 62]
        },
    }

    angular.extend($scope, {
        icons: local_icons
    });

    angular.extend($scope, {
        lisbon: {
            lat: 38.716,
            lng: -9.13,
            zoom: 8
        },
        markers: {
            m1: {
                lat: 38.716,
                lng: -9.13,
                message: "I'm a static marker",
                icon: local_icons.default_icon,
            }
        }
    });
}]);</div>
            <p>You can see the code demonstrating this feature in the <a href="examples/markers-icon-example.html">customized markers icons example</a>.</p>
        </div>
    </div>

    <div class="col-md-10" ng-controller="GeoJSONController" ng-switch-when="geojson">
        <leaflet center="japan" defaults="defaults" geojson="geojson"></leaflet>
        <h2>GeoJSON example</h2>
        <p>Let's see how to render and interact with a geoJSON file layered into our map.</p>
        <ul class="nav nav-tabs">
            <li class="active"><a href="" ng-click="activeTab='html'" data-toggle="tab">HTML code</a></li>
            <li><a href="" ng-click="activeTab='javascript'" data-toggle="tab">Javascript Angular controller</a></li>
        </ul>
        <div class="tab-container" ng-switch on="activeTab">
            <div hljs ng-switch-default>
<div ng-controller="LegendController">
     <leaflet center="japan" geojson="geojson"></leaflet>
</div></div>
            <div hljs ng-switch-when="javascript">
var app = angular.module("mainPage", ['leaflet-directive']);
app.controller("GeoJSONController", [ '$scope', '$http', function($scope, $http) {
    angular.extend($scope, {
        japan: {
            lat: 37.26,
            lng: 138.86,
            zoom: 4
        }
    });

    // Get the countries geojson data from a JSON
    $http.get("examples/json/JPN.geo.json").success(function(data, status) {
        angular.extend($scope, {
            geojson: {
                data: data,
                style: {
                    fillColor: "green",
                    weight: 2,
                    opacity: 1,
                    color: 'white',
                    dashArray: '3',
                    fillOpacity: 0.7
                }
            }
        });
    });
});</div>
            <p>You can see the code demonstrating this feature in the <a href="examples/geojson-example.html">GeoJSON example</a>.</p>
        </div>
    </div>

    <div class="col-md-10" ng-controller="LegendController" ng-switch-when="legend">
        <leaflet center="amsterdam" legend="legend" defaults="defaults"></leaflet>
        <h2>Legend example</h2>
        <p>We can embed easily a static legend information panel on our map. Let's see how:</p>
        <ul class="nav nav-tabs">
            <li class="active"><a href="" ng-click="activeTab='html'" data-toggle="tab">HTML code</a></li>
            <li><a href="" ng-click="activeTab='javascript'" data-toggle="tab">Javascript Angular controller</a></li>
            <li><a href="" ng-click="activeTab='css'" data-toggle="tab">CSS code</a></li>
        </ul>
        <div class="tab-container" ng-switch on="activeTab">
            <div hljs ng-switch-default>
<div ng-controller="LegendController">
     <leaflet center="amsterdam" legend="legend"></leaflet>
</div></div>
            <div hljs ng-switch-when="javascript">
var app = angular.module("mainPage", ['leaflet-directive']);
app.controller("LegendController", [ '$scope', function($scope) {
    angular.extend($scope, {
        amsterdam: {
            lat: 52.35,
            lng: 4.91,
            zoom: 12
        },
        legend: {
            position: 'bottomleft',
            colors: [ '#ff0000', '#28c9ff', '#0000ff', '#ecf386' ],
            labels: [ 'National Cycle Route', 'Regional Cycle Route', 'Local Cycle Network', 'Cycleway' ]
        },
        defaults: {
            tileLayer: "http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png"
        }
    });
}]);</div>
        <div hljs ng-switch-when="css">
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}</div>
            <p>You can see the code demonstrating this feature in the <a href="examples/legend-example.html">legend example</a>.</p>
        </div>
    </div>

    <div class="col-md-10" ng-controller="PathController" ng-switch-when="path">
        <leaflet center="center" paths="paths" markers="markers" defaults="defaults" height="500"></leaflet>
        <p class="small">City icons obtained from <a href="http://iconka.com/tourism/">Iconka</a>.</p>
        <h2>Path example</h2>
        <p>We can trace a path on our map with two-way binding. On the example you can see a path of tree points with a line colored green and a determined weight. We also paint 3 custom icons on every point of the path. This can be accomplished with this code:</p>
        <ul class="nav nav-tabs">
            <li class="active"><a href="" ng-click="activeTab='html'" data-toggle="tab">HTML code</a></li>
            <li><a href="" ng-click="activeTab='javascript'" data-toggle="tab">Javascript Angular controller</a></li>
        </ul>
        <div class="tab-container" ng-switch on="activeTab">
            <div hljs ng-switch-default>
<div ng-controller="PathController">
    <leaflet center="center" paths="paths" markers="markers" defaults="defaults" height="500"></leaflet>
</div></div>
            <div hljs ng-switch-when="javascript">
var app = angular.module("mainPage", ['leaflet-directive']);
app.controller("PathController", [ '$scope', function($scope) {
    angular.extend($scope, {
        center: {
            lat: 48,
            lng: 4,
            zoom: 5
        },
        paths: {
            p1: {
                color: '#008000',
                weight: 8,
                latlngs: [
                    { lat: 51.50, lng: -0.082 },
                    { lat: 48.83, lng: 2.37 },
                    { lat: 41.91, lng: 12.48 }
                ],
            }
        },
        markers: {
            london: {
                lat: 51.50,
                lng: -0.082,
                icon: L.icon({
                    iconUrl: 'examples/img/100x100_PNG/bigben100.png',
                    iconSize: [80, 80],
                    iconAnchor: [40, 80],
                    popupAnchor: [0, 0],
                    shadowSize: [0, 0],
                    shadowAnchor: [0, 0]
                })
            },
            paris: {
                lat: 48.83,
                lng: 2.37,
                icon: L.icon({
                    iconUrl: 'examples/img/100x100_PNG/eiffel100.png',
                    iconSize: [80, 80],
                    iconAnchor: [40, 60],
                    popupAnchor: [0, 0],
                    shadowSize: [0, 0],
                    shadowAnchor: [0, 0]
                })
            },
            roma: {
                lat: 41.91,
                lng: 12.48,
                icon: L.icon({
                    iconUrl: 'examples/img/100x100_PNG/colosseum100.png',
                    iconSize: [60, 60],
                    iconAnchor: [30, 40],
                    popupAnchor: [0, 0],
                    shadowSize: [0, 0],
                    shadowAnchor: [0, 0]
                })
            }
        },
        defaults: {
            scrollWheelZoom: false
        }
    });
}]);</div>
            <p>You can see the code demonstrating this feature in the <a href="examples/path-example.html">path example</a>.</p>
        </div>
    </div>

    <div class="col-md-10" ng-controller="GoogleMapsController" ng-switch-when="google-maps">
        <leaflet center="berlin" layers="layers"></leaflet>
        <h2>Google Maps integration example</h2>
        <p>We must include the <a href="https://developers.google.com/maps/documentation/javascript/libraries">Google Maps Library</a> and the <a href="https://github.com/shramov/leaflet-plugins">Google Maps Leaflet Plugin</a> on our page first, and will include any of the available Google maps layers via the <strong>layers</strong> functionality like you can see on the example.</p>
        <ul class="nav nav-tabs">
            <li class="active"><a href="" ng-click="activeTab='html'" data-toggle="tab">HTML code</a></li>
            <li><a href="" ng-click="activeTab='javascript'" data-toggle="tab">Javascript Angular controller</a></li>
        </ul>
        <div class="tab-container" ng-switch on="activeTab">
            <div hljs ng-switch-default>
<script src="https://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false"></script>
<script src="plugins/layer/tile/Google.js"></script>
...
<div ng-controller="PathController">
    <leaflet center="berlin" layers="layers"></leaflet>
</div></div>
            <div hljs ng-switch-when="javascript">
var app = angular.module("mainPage", ['leaflet-directive']);
app.controller("GoogleMapsController", [ '$scope', function($scope) {
   angular.extend($scope, {
       berlin: {
            lat: 52.52,
            lng: 13.40,
            zoom: 14
        },
        layers: {
            baselayers: {
                googleTerrain: {
                    name: 'Google Terrain',
                    layerType: 'TERRAIN',
                    type: 'google'
                },
                googleHybrid: {
                    name: 'Google Hybrid',
                    layerType: 'HYBRID',
                    type: 'google'
                },
                googleRoadmap: {
                    name: 'Google Streets',
                    layerType: 'ROADMAP',
                    type: 'google'
                }
            }
        }
    });
}]);</div>
            <p>You can see the code demonstrating this feature in the <a href="examples/googlemaps-example.html">Google Maps example</a>.</p>
        </div>
    </div>
</div>
