<div class="row">
    <div class="col-md-12">
        <h1>Introduction</h1>
        <p>This is a very simple <a href="http://angularjs.org/">AngularJS</a> directive developed to embed and interact with a <a href="http://www.openstreetmap.org/">map</a> managed by the <a href="http://leaflet.cloudmade.com/">leaflet map library</a>. Its not intended as a complete or full-of-features library, although its a simple and easy to use directive, which has been fun to develop and is a good starting point to learn to code a directive into the great AngularJS library.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>The code of the library and this page has been inspired on the <a href="http://nlaplante.github.com/angular-google-maps/">Angular Google Maps</a> directive developed by <a href="https://github.com/nlaplante">nlaplante</a>.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>How to use it</h2>
        <p>Before using <strong>angular-leaflet-directive</strong>, you
        must include some javascript files to your main HTML: the main AngularJS
        library, the Leaflet library and the angular-leaflet-directive.js script. Something like this:</p>
        <div class="col-md-6">
            <div hljs language="html">
&lt;script src="/path/to/leaflet.js"&gt;&lt;/script&gt;
&lt;script src="/path/to/angular.min.js"&gt;&lt;/script&gt;
&lt;script src="/path/to/angular-leaflet-directive.js"&gt;&lt;/script&gt;
            </div>
        </div>

        <p style="clear: both;">Also, you must include the CSS files of <strong>leaflet</strong>:</p>
        <div class="col-md-6">
            <pre class="prettyprint lang-html">&lt;link rel="stylesheet" href="/path/to//leaflet.css" /&gt;</pre>
        </div>

        <p style="clear: both;">And that's all. Now you can use the directive with the custom tag <code>&lt;leaflet&gt;</code> and some attributes, let's see them on the examples.</p>
    </div>
</div>
