<div class="row">
    <div class="col-md-12">
        <h1>Introduction</h1>
        <p>This is a very simple <a href="http://angularjs.org/">AngularJS</a> directive developed to embed and interact with a <a href="http://www.openstreetmap.org/">map</a> managed by the <a href="http://leaflet.cloudmade.com/">leaflet map library</a>. Its not intended as a complete or full-of-features library, although its a simple and easy to use directive, which has been fun to develop and is a good starting point to learn to code a directive into the great AngularJS library.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>The code of the library and this page has been inspired on the <a href="http://nlaplante.github.com/angular-google-maps/">Angular Google Maps</a> directive developed by <a href="https://github.com/nlaplante">nlaplante</a>.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>How to use it</h2>
        <p>Before using <strong>angular-leaflet-directive</strong>, you
        must include some javascript files to your main HTML: the main AngularJS
        library, the Leaflet library and the angular-leaflet-directive.js script. Something like this:</p>
        <ul class="nav nav-tabs">
            <li class="active"><a href="" ng-click="activeTab='javascript'" data-toggle="tab">Javascript includes</a></li>
            <li><a href="" ng-click="activeTab='css'" data-toggle="tab">CSS includes</a></li>
        </ul>
        <div class="tab-container" ng-switch on="activeTab">
            <div hljs ng-switch-default>
<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="/js/angular-leaflet-directive.min.js"></script></div>
            <div hljs ng-switch-when="css"><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" /></div>
        </div>

        <p style="clear: both;">And that's all. Now you can use the directive with the custom tag <code>&lt;leaflet&gt;</code> and some attributes, let's see them on the examples.</p>
        <div class="btn-group">
            <a href="#/basic-examples/simple-map" class="btn btn-primary">Basic examples</a>
            <a href="#/advanced-examples" class="btn btn-primary">Advanced examples</a>
        </div>
    </div>
</div>
