temp
node_modules
libpeerconnection.log
dist/angular-leaflet-directive.ngmin.js
dist/angular-leaflet-directive.min.no-header.js
js/angular-leaflet-directive-webpage.ngmin.js
*.swp
.*.swp
*.iml
.idea
.project
node_modules
bower_components
coverage/*.json
selenium
saucelabs.json
