<html ng-app="demoapp">
	<head>
		<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
		<script src="angular-leaflet-directive.js"></script>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
		<link rel="stylesheet" href="angular-leaflet-directive.css" />
		<!--[if lte IE 8]>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
		<![endif]-->
		<script>
			angular.module("demoapp", ["leaflet-directive"]);
			function DemoController($scope) {
				angular.extend($scope, {
					// set up map center
					cen: {
						lat: 51.505,
						lng: -0.09,
					},
					// set up main marker
					mark: {
						lat: 51.505,
						lng: -0.09,
					},
					msg: "Hello World!",
					// set up multiple markers on map
					multimarkers: {
						'm1': {
							lat: 51,
							lng: 0,
							draggable: true,
						},
						'm2': {
							lat: 51.2,
							lng: -0.01,
						},
					},
				});
			};
		</script>
		<style>
			div.map {
				width: 640px;
				height: 480px;
			}
		</style>
	</head>
	<body ng-controller="DemoController">
		<leaflet center="cen" zoom="zoom" message="msg"
				marker="mark" multimarkers="multimarkers">
		</leaflet>
		</br>

		Center:
		<input type="text" ng-model="cen.lng"/>
		<input type="text" ng-model="cen.lat"/>
		<input type="text" ng-model="zoom"/>
		</br>

		Marker:
		<input type="text" ng-model="mark.lng"/>
		<input type="text" ng-model="mark.lat"/>
		</br>

		Message:
		<input type="text" ng-model="msg"/>
		</br>

		<p>Markers</p>
		<div ng-repeat="(name, m) in multimarkers">
			<b>{{name}}</b>:
			lng: <input type="text" ng-model="m.lng"/>
			lat: <input type="text" ng-model="m.lat"/>
			<b>{{m.draggable && 'draggable'}}</b>
		</div>

	</body>
</html>
