p, h4 {
	margin: 10px 0;
	padding: 0;
}

body {
	margin: 20px;
}

#left {
	float: left;
}

#right {
	float: right;
}

.panel {
	padding: 5px;
	margin-bottom: 10px;
	padding-left: 10px;
	border-left: solid 5px #ddd;
	background: #eee;
}

input {
	margin-bottom: 5px;
}
