<html ng-app="demoapp">
	<head>
		<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
		<script src="angular-leaflet-directive.js"></script>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
		<link rel="stylesheet" href="angular-leaflet-directive.css" />
		<link rel="stylesheet" href="full-example.css" />
		<!--[if lte IE 8]>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
		<![endif]-->
		<script>
			angular.module("demoapp", ["leaflet-directive"]);
			function DemoController($scope) {
				angular.extend($scope, {
					// set up map center
					cen: {
						lat: 51.505,
						lng: -0.09,
					},
					// set up main marker
					mark: {
						lat: 51.505,
						lng: -0.09,
					},
					msg: "Hello World!",
					// set up multiple markers on map
					multimarkers: {
						'm1': {
							lat: 51.2,
							lng: -0.01,
						},
						'm2': {
							lat: 51,
							lng: 0,
							draggable: true,
						},
					},
					path: {
						color: 'red',
						smoothFactor: 1,
						latlngs: [
							{lat: 51.2, lng: -0.01},
							{lat: 51.1, lng: -0.2},
							{lat: 51, lng: 0},
						]
					},
				});
			};
		</script>
		<style>
			div.map {
				width: 640px;
				height: 480px;
			}
		</style>
	</head>
	<body ng-controller="DemoController">
		<div id="right">
			<leaflet center="cen" zoom="zoom" message="msg"
				marker="mark" multimarkers="multimarkers"
				mainpath="path">
			</leaflet>
		</div>

		<div id="left">
			<div class="panel">
				<h4>Center</h4>
				lng: <input type="text" ng-model="cen.lng"/>
				lat: <input type="text" ng-model="cen.lat"/>
				</br>
				zoom: <input type="text" ng-model="zoom"/>
			</div>

			<div class="panel">
				<h4>Marker</h4>
				lng: <input type="text" ng-model="mark.lng"/>
				lat: <input type="text" ng-model="mark.lat"/>
			</div>

			<div class="panel">
				<h4>Message<h4>
				<input type="text" ng-model="msg"/>
			</div>

			<div class="panel">
				<h4>Markers</h4>
				<div ng-repeat="(name, m) in multimarkers">
					<p><b>{{name}}</b>{{m.draggable && ' (draggable) '}}:<p>
					lng: <input type="text" ng-model="m.lng"/>
					lat: <input type="text" ng-model="m.lat"/>
				</div>
			</div>

			<div class="panel">
				<h4>Path</h4>
				color: <input type="text" ng-model="path.color"/>
				smooth facor: <input type="text" ng-model="path.smoothFactor"/>
				<div ng-repeat="p in path.latlngs">
					(point {{$index}})
					lng: <input type="text" ng-model="p.lng"/>
					lat: <input type="text" ng-model="p.lat"/>
				</div>
			</div>
		</div>

	</body>
</html>
