<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="angularjs,leaflet,openstreetmap,javascript,directive,plugin,google maps">
        <meta name="description" content="Leaflet directive for AngularJS">
        <title>Leaflet directive for AngularJS</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="bower_components/semantic-ui/dist/semantic.min.css">
        <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
        <link rel="stylesheet" href="bower_components/highlightjs/styles/github.css" />
        <link rel="stylesheet" href="bower_components/Leaflet.label/dist/leaflet.label.css" />
        <link rel="stylesheet" type="text/css" href="http://cloud.github.com/downloads/lafeber/world-flags-sprite/flags32.css" />
        <link rel="stylesheet" href="bower_components/gfm.css/gfm.css" />
        <link rel="stylesheet" href="css/style.css" />
    </head>

<body ng-cloak ng-app="app" ng-controller="AppController as main">
    <div class="ui center aligned header">
        <div class="ui stackable doubling two column grid">
            <div class="center aligned five wide column">
                <a ng-link="home()" style="line-height: 2em;" ng-class="{ active: main.section == 'home' }" ng-click="main.section = 'home'"><i class="green large leaf icon"></i> angular-leaflet-directive</a>
            </div>
            <div class="ten wide column topmenu">
                <div class="ui right four item pointing menu">
                    <a class="item" ng-class="{ active: main.section == 'documentation' }" ng-click="main.section = 'documentation'" href="#/documentation/leaflet">Documentation</a>
                    <a class="item"  ng-class="{ active: main.section == 'examples' }" ng-click="main.section = 'examples'" href="#/examples/basic/first-example">Examples</a>
                    <a class="item" ng-class="{ active: main.section == 'extend' }" ng-click="main.section = 'extend'" ng-link="extend()">How to extend</a>
                    <a class="item" href="http://github.com/tombatossals/angular-leaflet-directive"><i class="github big icon"></i> Github repo</a>
                </div>
            </div>
        </div>
        <div class="banner">
            <a class="forkme" href="https://github.com/tombatossals/angular-leaflet-directive" rel="external">
                <img src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
            </a>
            <leaflet lf-center="main.center" lf-defaults="main.defaults" lf-tiles="main.tiles" lf-markers="main.markers" broadcast-events="main.events" id="header" height="160px"></leaflet>
            <div class="content">
                Simple to use <a href="http://angularjs.org">AngularJS</a> directive for easy embedding and interacting with a map managed with the <a href="http://leafletjs.com/">leaflet map library</a>.
            </div>
        </div>
    </div>

    <div class="ui grid">
        <div class="row" ng-if="main.section === 'examples'">
          <div class="two wide column"></div>
          <div class="twelve wide column">
              <h1>Example showcase</h1>
          </div>
        </div>
        <div class="row" ng-if="main.section === 'examples'">
          <div class="two wide column"></div>
          <div class="three wide column">
              <div ng-viewport="left"></div>
          </div>

          <div class="nine wide column">
              <div ng-viewport="main"></div>
          </div>
      </div>

      <div class="row left aligned" ng-if="main.section !== 'examples'">
        <div class="two wide column"></div>
        <div class="twelve wide column">
            <div ng-viewport="main"></div>
        </div>
      </div>

    </div>

    <div class="ui grid" ng-if="main.section === 'examples'">
        <div class="two wide column"></div>
        <div class="twelve wide column">
            <hr />
            <p style="text-align: right;"><a ng-href="{{ main.example.extUrl }}">View this example as a stand-alone page</a></p>
            <h3 class="ui header">Source code of this example</h3>
            <div hljs source="main.example.source"></div>
        </div>
    </div>

    <div class="ui grid">
        <div class="two wide column"></div>
        <div class="twelve wide column">
            <footer>
                Page built with <a href="http://leafletjs.com">LeafletJS</a>, <a href="http://angularjs.org/">AngularJS</a> and <a href="http://semantic-ui.com/">Semantic UI</a>.
            </footer>
        </div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/leaflet/dist/leaflet.js"></script>
    <script src="bower_components/Leaflet.label/dist/leaflet.label.js"></script>
    <script src="bower_components/leaflet-plugins/layer/tile/Google.js"></script>
    <script src="bower_components/highlightjs/highlight.pack.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-new-router/dist/router.es5.min.js"></script>
    <script src="bower_components/angular-highlightjs/angular-highlightjs.min.js"></script>
    <script src="bower_components/marked/marked.min.js"></script>
    <script src="bower_components/angular-marked/angular-marked.min.js"></script>
    <script src="dist/angular-leaflet-directive.min.js"></script>
    <script src="dist/angular-leaflet-directive-webpage.no-header.js"></script>
</body>

</html>
