<div class="ui menu">
  <a class="browse item">
    Browse Examples
    <i class="dropdown icon"></i>
  </a>
  <div class="ui fluid popup bottom left transition hidden" style="top: 554px; left: 1px; bottom: auto; right: auto; width: 672px;">
    <div class="ui four column relaxed divided grid">
      <div class="column">
        <h4 class="ui header">Basic examples</h4>
        <div class="ui link list">
          <a class="item" ng-href="#/examples/basic/fist-example">First steps, basic example</a>
          <a class="item">Linen</a>
          <a class="item">Cotton</a>
          <a class="item">Viscose</a>
        </div>
      </div>
      <div class="column">
        <h4 class="ui header">Size</h4>
        <div class="ui link list">
          <a class="item">Small</a>
          <a class="item">Medium</a>
          <a class="item">Large</a>
          <a class="item">Plus Sizes</a>
        </div>
      </div>
    </div>
  </div>
</div>
