<!DOCTYPE html>
<html ng-app="demoapp">
  <head>
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="../dist/angular-leaflet-directive.min.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
    <script>
        var app = angular.module("demoapp", ["leaflet-directive"]);
        app.controller("DemoController", [ "$scope", "$log", function($scope, $log) {
            angular.extend($scope, {
                london: {
                    lat: 51.505,
                    lng: -0.09,
                    zoom: 4
                },
                leafletMap: null
            });

            $scope.showLeaflet = function() {
                $scope.leafletMap.fitBounds([ [40.712, -74.227], [40.774, -74.125] ]);
            };
       }]);
    </script>
    <style>
        input {
            width: 120px;
            margin-right: 10px;
        }
    </style>
  </head>
  <body ng-controller="DemoController">
    <h1>Direct access to the Leaflet Map Object</h1>
    <button ng-click="showLeaflet()">Fitbounds outside leaflet-directive!</button>
    <form>
        Latitude : <input type="number" step="any" ng-model="london.lat" />
        Longitude : <input type="number" step="any" ng-model="london.lng" />
        Zoom : <input type="number" step="any" ng-model="london.zoom" />
    </form>
    <leaflet center="london" width="640" height="400" leafletMap="leafletMap"></leaflet>
  </body>
</html>
