<!DOCTYPE html>
<html ng-app="demoapp">
  <head>
    <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
    <script src="../dist/angular-leaflet-directive.min.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />
    <script>
        var app = angular.module("demoapp", ["leaflet-directive"]);
        app.controller("DemoController", [ "$scope", "leafletData", function($scope, leafletData) {
           angular.extend($scope, {
               london: {
                   lat: 51.505,
                   lng: -0.09,
                   zoom: 4
               },
               bounds: {
                   southWest: {
                       lat:51.508742458803326,
                       lng: -0.087890625,
                   },
                   northEast: {
                       lat:51.508742458803326,
                        lng:-0.087890625,
                   }
               }
           });
           leafletData.getMap().then(function(map){
                 var bounds = map.getBounds();
                 console.log('northwest=' + bounds.getNorthWest().toString() + '&northeast=' + bounds.getNorthEast().toString() + '&southeast=' + bounds.getSouthEast().toString() + '&southwest=' + bounds.getSouthWest().toString());
           });
       }]);
    </script>
    <style>
        input {
            width: 120px;
            margin-right: 10px;
        }
    </style>
  </head>
  <body ng-controller="DemoController">
    <h1>Map bounds example</h1>
    <h2>South west</h2>
    <form>
        Lat : <input type="number" step="any" ng-model="bounds.southWest.lat" />
        Lng : <input type="number" step="any" ng-model="bounds.southWest.lng" />
    </form>

    <h2>North east</h2>
    <form>
        Lat : <input type="number" step="any" ng-model="bounds.northEast.lat" />
        Lng : <input type="number" step="any" ng-model="bounds.northEast.lng" />
    </form>
    <leaflet center="london" bounds="bounds" width="640" height="400"></leaflet>
  </body>
</html>
