<!DOCTYPE html>
<html ng-app="demoapp">
  <head>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>
    <script src="../bower_components/leaflet/dist/leaflet.js"></script>
    <script src="../dist/angular-leaflet-directive.min.js"></script>
    <link rel="stylesheet" href="../bower_components/leaflet/dist/leaflet.css" />
    <meta charset="UTF-8">
    <script>
        var app = angular.module('demoapp', ['leaflet-directive']);
        app.controller('DemoController', [ '$scope', function($scope) {
            angular.extend($scope, {
                center: {
                    autoDiscover: true
                }
            });
       }]);
    </script>
    <style>
        input {
            width: 100px;
            margin-right: 7px;
        }
    </style>
  </head>
  <body ng-controller="DemoController">
    <h1>Center autodiscover example</h1>
    <form>
        Latitude : <input type="number" step="any" ng-model="center.lat" />
        Longitude : <input type="number" step="any" ng-model="center.lng" />
        Zoom : <input type="number" step="any" ng-model="center.zoom" />
        <button ng-click="center.autoDiscover=true">Discover position</button>
    </form>
    <leaflet center="center" width="640" height="400"></leaflet>
  </body>
</html>
