<!DOCTYPE html>
<html ng-app="demoapp">
<head>
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet-src.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="../dist/angular-leaflet-directive.min.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        angular.module("demoapp", ["leaflet-directive"]);
        function DefaultController($scope) {
            angular.extend($scope, {
                mapDefault: {
                    london: {
                        lat: 51.505,
                        lng: -0.09,
                        zoom: 8
                    },
                    markers: {
                        m1: {
                            lat: 51.505,
                            lng: -0.09
                        }
                    }
                }
            });
        };
        function BaseLayersController($scope) {
            angular.extend($scope, {
                london: {
                    lat: 51.505,
                    lng: -0.09,
                    zoom: 8
                },
                markers: {
                    m1: {
                        lat: 51.505,
                        lng: -0.09
                    }
                },
                layers: {
                    baselayers: {
                        osm: {
                            name: 'OpenStreetMap',
                            type: 'xyz',
                            url: 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                            layerOptions: {
                                subdomains: ['a', 'b', 'c'],
                                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                                continuousWorld: true
                            }
                        },
                        cycle: {
                            name: 'OpenCycleMap',
                            type: 'xyz',
                            url: 'http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png',
                            layerOptions: {
                                subdomains: ['a', 'b', 'c'],
                                attribution: '&copy; <a href="http://www.opencyclemap.org/copyright">OpenCycleMap</a> contributors - &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                                continuousWorld: true
                            }
                        },
                        cloudmade1: {
                            name: 'Cloudmade Night Commander',
                            type: 'xyz',
                            url: 'http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png',
                            layerParams: {
                                key: '007b9471b4c74da4a6ec7ff43552b16f',
                                styleId: 999
                            },
                            layerOptions: {
                                subdomains: ['a', 'b', 'c'],
                                continuousWorld: true
                            }
                        },
                        cloudmade2: {
                            name: 'Cloudmade Tourist',
                            type: 'xyz',
                            url: 'http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png',
                            layerParams: {
                                key: '007b9471b4c74da4a6ec7ff43552b16f',
                                styleId: 7
                            },
                            layerOptions: {
                                subdomains: ['a', 'b', 'c'],
                                continuousWorld: true
                            }
                        }
                    }
                }
            });
        };
        function DynamicLayersController($scope) {
            angular.extend($scope, {
                mapDynamicLayers: {
                    london: {
                        lat: 51.505,
                        lng: -0.09,
                        zoom: 8
                    },
                    markers: {
                        m1: {
                            lat: 51.505,
                            lng: -0.09
                        }
                    },
                    layers: {
                        baselayers: {
                            osm: {
                                name: 'OpenStreetMap',
                                type: 'xyz',
                                url: 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                                layerOptions: {
                                    subdomains: ['a', 'b', 'c'],
                                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                                    continuousWorld: true
                                }
                            },
                            cycle: {
                                name: 'OpenCycleMap',
                                type: 'xyz',
                                url: 'http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png',
                                layerOptions: {
                                    subdomains: ['a', 'b', 'c'],
                                    attribution: '&copy; <a href="http://www.opencyclemap.org/copyright">OpenCycleMap</a> contributors - &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                                    continuousWorld: true
                                }
                            },
                            cloudmade1: {
                                name: 'Cloudmade Night Commander',
                                type: 'xyz',
                                url: 'http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png',
                                layerParams: {
                                    key: '007b9471b4c74da4a6ec7ff43552b16f',
                                    styleId: 999
                                },
                                layerOptions: {
                                    subdomains: ['a', 'b', 'c'],
                                    continuousWorld: true
                                }
                            },
                            cloudmade2: {
                                name: 'Cloudmade Tourist',
                                type: 'xyz',
                                url: 'http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png',
                                layerParams: {
                                    key: '007b9471b4c74da4a6ec7ff43552b16f',
                                    styleId: 7
                                },
                                layerOptions: {
                                    subdomains: ['a', 'b', 'c'],
                                    continuousWorld: true
                                }
                            }
                        }
                    }
                },
                removeOsmLayer: function() {
                    delete this.mapDynamicLayers.layers.baselayers.osm;
                },
                addOsmLayer: function() {
                    this.mapDynamicLayers.layers.baselayers.osm = {
                        name: 'OpenStreetMap',
                        type: 'xyz',
                        url: 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                        layerOptions: {
                            subdomains: ['a', 'b', 'c'],
                            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                            continuousWorld: true
                        }
                    };
                },
                existsOsmLayer: function() {
                    return ('osm' in this.mapDynamicLayers.layers.baselayers);
                },
                removeCycleLayer: function() {
                    delete this.mapDynamicLayers.layers.baselayers.cycle;
                },
                addCycleLayer: function() {
                    this.mapDynamicLayers.layers.baselayers.cycle = {
                        name: 'OpenCycleMap',
                        type: 'xyz',
                        url: 'http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png',
                        layerOptions: {
                            subdomains: ['a', 'b', 'c'],
                            attribution: '&copy; <a href="http://www.opencyclemap.org/copyright">OpenCycleMap</a> contributors - &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                            continuousWorld: true
                        }
                    };
                },
                existsCycleLayer: function() {
                    return ('cycle' in this.mapDynamicLayers.layers.baselayers);
                },
                removeCloud1Layer: function() {
                    delete this.mapDynamicLayers.layers.baselayers.cloudmade1;
                },
                addCloud1Layer: function() {
                    this.mapDynamicLayers.layers.baselayers.cloudmade1 = {
                        name: 'Cloudmade Night Commander',
                        type: 'xyz',
                        url: 'http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png',
                        layerParams: {
                            key: '007b9471b4c74da4a6ec7ff43552b16f',
                            styleId: 999
                        },
                        layerOptions: {
                            subdomains: ['a', 'b', 'c'],
                            continuousWorld: true
                        }
                    };
                },
                existsCloud1Layer: function() {
                    return ('cloudmade1' in this.mapDynamicLayers.layers.baselayers);
                },
                removeCloud2Layer: function() {
                    delete this.mapDynamicLayers.layers.baselayers.cloudmade2;
                },
                addCloud2Layer: function() {
                    this.mapDynamicLayers.layers.baselayers.cloudmade2 = {
                        name: 'Cloudmade Tourist',
                        type: 'xyz',
                        url: 'http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png',
                        layerParams: {
                            key: '007b9471b4c74da4a6ec7ff43552b16f',
                            styleId: 7
                        },
                        layerOptions: {
                            subdomains: ['a', 'b', 'c'],
                            continuousWorld: true
                        }
                    };
                },
                existsCloud2Layer: function() {
                    return ('cloudmade2' in this.mapDynamicLayers.layers.baselayers);
                },

            });
        };
        function CombineTypeLayersController($scope) {
            angular.extend($scope, {
                berlin: {
                    lat: 52.51739,
                    lng: 13.40209,
                    zoom: 14
                },
                markers: {
                    m1: {
                        lat: 52.51739,
                        lng: 13.40209
                    }
                },
                layers: {
                    baselayers: {
                        osm: {
                            name: 'OpenStreetMap WMS Omniscale',
                            type: 'wms',
                            url: 'http://osm.omniscale.net/proxy/service',
                            layerOptions: {
                                layers: 'osm',
                                format: 'image/png'
                            }
                        },
                        cycle: {
                            name: 'OpenCycleMap',
                            type: 'xyz',
                            url: 'http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png',
                            layerOptions: {
                                subdomains: ['a', 'b', 'c'],
                                attribution: '&copy; <a href="http://www.opencyclemap.org/copyright">OpenCycleMap</a> contributors - &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                                continuousWorld: true
                            }
                        },
                        cloudmade: {
                            name: 'Cloudmade Tourist',
                            type: 'xyz',
                            url: 'http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png',
                            layerParams: {
                                key: '007b9471b4c74da4a6ec7ff43552b16f',
                                styleId: 7
                            },
                            layerOptions: {
                                subdomains: ['a', 'b', 'c'],
                                continuousWorld: true
                            }
                        }
                    }
                }
            });
        };
    </script>
</head>
<body>
    <div class="container">
    <div ng-controller="DefaultController">
        <div class="row">
            <h2>This is a default map without layers control</h2>
        </div>
        <div class="row">
            <leaflet center="mapDefault.london" markers="mapDefault.markers" height="480px" width="640px"></leaflet>
        </div>
    </div>
    <div ng-controller="BaseLayersController">
        <div class="row">
            <h2>This is a map with different base layers</h2>
        </div>
        <div class="row">
            <p>
            In this example a layer model is defined. A layer model is defined by objects containing the properties of the layers.<br/>
            The base layers are defined in the baselayers object inside the layers definition:
            </p>
        </div>
        <div class="row">
            <p>
            <pre class="col-md-8">
layers: {
    baselayers: {
        mapOne: {... map properties ...},
        mapTwo: {... map properties ...},
        ...
        mapN: {... map properties ...}
    },
    overlays: {
        overlayOne: {... overlay properties ...},
        overlayTwo: {... overlay properties ...},
        ...
        overlayM: {... overlay properties ...}    }
}
            </pre>
            </p>
        </div>
        <div class="row">
            <p>
                A baselayer object must contain the map properties
            </p>
            <p>
                <ul>
                    <li><code>name</code>: The display name in the layer control</li>
                    <li><code>type</code>: The type of layer. The supported values are:
                    <code>'xyz'</code> and <code>'wms'</code></li>
                    <li><code>url</code>: The url of the map service to use</li>
                </ul>
                It can also contain optional properties
                <ul>
                    <li><code>top</code>: This map layer will be on the top, making it visible. Possible values: <code>true</code>
                    , <code>false</code>There can only be one top baselayer on a map. If this property is not present or all are false,
                    the first defined baselayer map will be the top one. If more than one layer have the <code>top</code> set to <code>
                    true</code> the last layer defined will be the visible.
                    </li>
                    <li><code>layerParams</code>: Additional parameters used in the baselayer url</li>
                    <li><code>layerOption</code>: Options of the Leaflet layer</li>
                    <ul>You can find the possible options and default values at (not all options aply to all layers):
                    <li><code>'xyz'</code>: <a href="http://leafletjs.com/reference.html#tilelayer-options">Leaflet options for xyz tiles Layer</a>
                    <li><code>'wms'</code>: <a href="http://leafletjs.com/reference.html#tilelayer-wms-options">Leaflet options for wms tiles Layer</a>
                    </ul>
                </ul>
            </p>
        </div>
        <div class="row">
            <leaflet center="london" markers="markers" layers="layers" height="480px" width="640px"></leaflet>
        </div>
        <div class="row">
            <h3>Note:</h3>
            <p>
            The code below is the definition of baselayers in this example.
            </p>
            <p>
            Layers osm and cycle do not define any specific parameters, only options. Layers cloudmade define layer parameters
            that are included in the url.
            </p>
            <pre class="col-md-8">
baselayers: {
    osm: {
        name: 'OpenStreetMap',
        type: 'xyz',
        url: 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        layerOptions: {
            subdomains: ['a', 'b', 'c'],
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            continuousWorld: true
        }
    },
    cycle: {
        name: 'OpenCycleMap',
        type: 'xyz',
        url: 'http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png',
        layerOptions: {
            subdomains: ['a', 'b', 'c'],
            attribution: '&copy; <a href="http://www.opencyclemap.org/copyright">OpenCycleMap</a> contributors - &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            continuousWorld: true
        }
    },
    cloudmade1: {
        name: 'Cloudmade Night Commander',
        type: 'xyz',
        url: 'http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png',
        layerParams: {
            key: '007b9471b4c74da4a6ec7ff43552b16f',
            styleId: 999
        },
        layerOptions: {
            subdomains: ['a', 'b', 'c'],
            continuousWorld: true
        }
    },
    cloudmade2: {
        name: 'Cloudmade Tourist',
        type: 'xyz',
        url: 'http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png',
        layerParams: {
            key: '007b9471b4c74da4a6ec7ff43552b16f',
            styleId: 7
        },
        layerOptions: {
            subdomains: ['a', 'b', 'c'],
            continuousWorld: true
        }
    }
}
            </pre>
        </div>
        <div class="row">
            <h3>Consider:</h3>
            <p>
                <div class="alert alert-warning">
                You can define the layers model or not, using the default tile layer or the defined in your layer models, but you can't switch
                from one to another. So if you delete your layers model (after using it) you will end up with errors and warnings in your console, and probably your
                map will fail to response. If you use the defaults and later create a layers model, it will be ignored.
                </div>
                <div class="alert alert-warning">
                <code>minZoom</code>, and <code>maxZoom</code> defined in the layers override the <code>minZoom</code>, and <code>maxZoom</code> of the
                whole map, so if you do not define them a 0-18 zooms Leaflet defaults will be used.
                </div>
            </p>
        </div>
    </div>
    <div ng-controller="DynamicLayersController">
        <div class="row">
            <h2>This is a map with dynamic addition and deletion of layers</h2>
        </div>
        <div class="row">
            <p>
            <leaflet center="mapDynamicLayers.london" layers="mapDynamicLayers.layers" height="480px" width="640px"></leaflet>
            </p>
        </div>
        <div class="row">
            <p>
            <button type="button" class="btn btn-default" ng-click="removeOsmLayer()" ng-disabled="!existsOsmLayer()">Remove OSM Layer</button>
            <button type="button" class="btn btn-default" ng-click="removeCycleLayer()" ng-disabled="!existsCycleLayer()">Remove Cycle Layer</button>
            <button type="button" class="btn btn-default" ng-click="removeCloud1Layer()" ng-disabled="!existsCloud1Layer()">Remove Cloudmade 1 Layer</button>
            <button type="button" class="btn btn-default" ng-click="removeCloud2Layer()" ng-disabled="!existsCloud2Layer()">Remove Cloudmade 2 Layer</button>
            </p>
        </div>
        <div class="row">
            <p>
            <button type="button" class="btn btn-default" ng-click="addOsmLayer()" ng-disabled="existsOsmLayer()">Add OSM Layer</button>
            <button type="button" class="btn btn-default" ng-click="addCycleLayer()" ng-disabled="existsCycleLayer()">Add Cycle Layer</button>
            <button type="button" class="btn btn-default" ng-click="addCloud1Layer()" ng-disabled="existsCloud1Layer()">Add Cloudmade 1 Layer</button>
            <button type="button" class="btn btn-default" ng-click="addCloud2Layer()" ng-disabled="existsCloud2Layer()">Add Cloudmade 2 Layer</button>
            </p>
        </div>
    </div>
    <div ng-controller="CombineTypeLayersController">
        <div class="row">
            <h2>This is a map with WMS and XYZ layers</h2>
        </div>
        <div class="row">
            <p>
            <leaflet center="berlin" layers="layers" markers="markers" height="480px" width="640px"></leaflet>
            </p>
        </div>
        <div class="row">
            <h3>Be careful with WMS layers:</h3>
            <p>
                <div class="alert alert-warning">
                Most WMS layers (that are more intended for GIS applications than for slippy maps) do not use
                the EPSG:3857 (EPSG:900913) Spherical Mercator projection. This will lead to error in the
                map and you won't see anything. Although you set the srs option in the layer, Leaflet won't
                reproject it (as almost do all map viewers).
                </div>
                <div class="alert alert-warning">
                At this moment the EPSG:3857 projection is the only supported by the leaflet directive. If you
                need other SRSs please consider contributing to the project including in the directive support for
                the Proj4 Leaflet plugin
                </div>
            </p>
        </div>
    </div>
    </div>
</body>
</html>
