<!DOCTYPE html>
<html ng-app="demoapp">
  <head>
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet-src.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="./plugins/awesome-markers/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="./plugins/awesome-markers/leaflet.awesome-markers.css">
    <script src="../dist/angular-leaflet-directive.min.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
    <script>
        angular.module("demoapp", ["leaflet-directive"]);
        function DemoController($scope) {
            angular.extend($scope, {
                london: {
                    lat: 51.505,
                    lng: -0.09,
                    zoom: 8
                },
                markers: {
                    m1: {
                        lat: 51.505,
                        lng: -0.09
                    }
                },
                iconA: {
                	iconUrl: 'http://cdn.leafletjs.com/leaflet-0.5.1/images/marker-icon.png'
                },
                iconB: {
                	iconUrl: 'http://leafletjs.com/docs/images/leaf-orange.png',
                	shadowUrl: 'http://leafletjs.com/docs/images/leaf-shadow.png',
                	iconSize:     [38, 95],
                    shadowSize:   [50, 64],
                    iconAnchor:   [22, 94],
                    shadowAnchor: [4, 62]
                },
                iconC: L.AwesomeMarkers.icon({
                    icon: 'cofee',
                    color: 'red'
                }),
                iconD: L.AwesomeMarkers.icon({
                    icon: 'cofee',
                    color: 'green'
                })
            });
            $scope.$on('leafletDirectiveMarker.click', function(e, args) {
                // Args will contain the marker name and other relevant information
                console.log("Leaflet Click");
            });
            $scope.$on('leafletDirectiveMarker.popupopen', function(e, args) {
                // Args will contain the marker name and other relevant information
                console.log("Leaflet Popup Open");
            });
            $scope.$on('leafletDirectiveMarker.popupclose', function(e, args) {
                // Args will contain the marker name and other relevant information
                console.log("Leaflet Popup Close");
            });
        };
    </script>
  </head>
  <body ng-controller="DemoController">
      <leaflet center="london" markers="markers" height="480px" width="640px">
      </leaflet>
      <label>Lat: <input ng-model="markers.m1.lat" type="number"></label>
      <label>Lon: <input ng-model="markers.m1.lng" type="number"></label>
      <br/>
      <label>Popup: <input ng-model="markers.m1.message" type="text"></label>
      <input type="radio" ng-model="markers.m1.message" ng-value="null" name="mess"> null value
      <input type="radio" ng-model="markers.m1.message" ng-value="123" name="mess"> not a string
      <br/>
      Draggable:
          <input type="radio" ng-model="markers.m1.draggable" ng-value="true" name="drag"> Yes
          <input type="radio" ng-model="markers.m1.draggable" ng-value="false" name="drag"> No
          <input type="radio" ng-model="markers.m1.draggable" ng-value="'error'" name="drag"> Not a boolean value
          <input type="radio" ng-model="markers.m1.draggable" ng-value="null" name="drag"> null value
      <br/>
      Focus:
          <input type="radio" ng-model="markers.m1.focus" ng-value="true" name="focus"> Yes
          <input type="radio" ng-model="markers.m1.focus" ng-value="false" name="focus"> No
          <input type="radio" ng-model="markers.m1.focus" ng-value="'error'" name="focus"> Not a boolean value
          <input type="radio" ng-model="markers.m1.focus" ng-value="null" name="focus"> null value
      <br/>
      Icon:
          <input type="radio" ng-model="markers.m1.icon" ng-value="iconA" name="icon"> Default
          <input type="radio" ng-model="markers.m1.icon" ng-value="iconB" name="icon"> Other (Leaflet Icon)
          <input type="radio" ng-model="markers.m1.icon" ng-value="iconC" name="icon"> Red (AwesomeMarker Icon)
          <input type="radio" ng-model="markers.m1.icon" ng-value="iconD" name="icon"> Green (AwesomeMarker Icon)
          <input type="radio" ng-model="markers.m1.icon" ng-value="'error'" name="icon"> Not a icon
          <input type="radio" ng-model="markers.m1.icon" ng-value="null" name="icon"> null value
  </body>
</html>
