<!DOCTYPE html>
<html ng-app="demoapp">
  <head>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/leaflet/dist/leaflet.js"></script>
    <script src="../dist/angular-leaflet-directive.min.js"></script>
    <link rel="stylesheet" href="../bower_components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script>
        var app = angular.module("demoapp", ["leaflet-directive"]);
        app.controller('DemoController', [ '$scope', function($scope) {
            var local_icons = {
                defaultIcon: {},
                leafIcon: {
                    iconUrl: 'img/leaf-green.png',
                    shadowUrl: 'img/leaf-shadow.png',
                    iconSize:     [38, 95], // size of the icon
                    shadowSize:   [50, 64], // size of the shadow
                    iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
                    shadowAnchor: [4, 62],  // the same for the shadow
                    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
                },
                orangeLeafIcon: {
                    iconUrl: 'img/leaf-orange.png',
                	shadowUrl: 'img/leaf-shadow.png',
                	iconSize:     [38, 95],
                    shadowSize:   [50, 64],
                    iconAnchor:   [22, 94],
                    shadowAnchor: [4, 62],
                    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
                },
                divIcon: {
                    type: 'div',
                	iconSize: [200, 0],
                	popupAnchor:  [0, 0],
                    html: 'Using <strong>Bold text as an icon</strong>:'
                }
            }

            angular.extend($scope, {
                chicago: {
                    lat: 41.85,
                    lng: -87.65,
                    zoom: 8
                },
                markers: {
                    m1: {
                        lat: 41.85,
                        lng: -87.65,
                        message: "I'm a static marker with defaultIcon",
                        focus: false,
                        icon: local_icons.defaultIcon,
                    },
                }
            });

            $scope.changeIcon = function(iconType) {
                $scope.markers.m1.icon = local_icons[iconType];
                $scope.markers.m1.message = "I'm a static marker with " + iconType;
            };

        } ]);
    </script>
  </head>
  <body>
    <div class="container">
      <div ng-controller="DemoController">

        <div class="row">
          <h2>Changing the marker icons</h2>
        </div>

        <div class="row">
          <div class="btn-group">
            <button type="button" ng-click="changeIcon('defaultIcon')" class="btn btn-default">default</button>
            <button type="button" ng-click="changeIcon('leafIcon')" class="btn btn-default">green leaf</button>
            <button type="button" ng-click="changeIcon('orangeLeafIcon')" class="btn btn-default">orange leaf</button>
            <button type="button" ng-click="changeIcon('divIcon')" class="btn btn-default">div</button>
          </div>
        </div>
        <br />
        <div class="row">
          <leaflet center="chicago" markers="markers" height="480px" width="640px"></leaflet>
        </div>
    </div>
  </body>
</html>
