<!DOCTYPE html>
<html ng-app="demoapp">
  <head>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/leaflet/dist/leaflet.js"></script>
    <script src="../dist/angular-leaflet-directive.min.js"></script>
    <link rel="stylesheet" href="../bower_components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script>
        var app = angular.module("demoapp", ["leaflet-directive"]);
        app.controller('DemoController', [ '$scope', function($scope) {
            var tilesDict = {
                openstreetmap: {
                    url: "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                    options: {
                        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                    }
                },
                opencyclemap: {
                    url: "http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png",
                    options: {
                        attribution: 'All maps &copy; <a href="http://www.opencyclemap.org">OpenCycleMap</a>, map data &copy; <a href="http://www.openstreetmap.org">OpenStreetMap</a> (<a href="http://www.openstreetmap.org/copyright">ODbL</a>'
                    }
                },
                mapbox_terrain: {
                    name: 'Mapbox Terrain',
                    url: 'http://api.tiles.mapbox.com/v4/{mapid}/{z}/{x}/{y}.png?access_token={apikey}',
                    type: 'xyz',
                    options: {
                        apikey: 'pk.eyJ1IjoidG9tYmF0b3NzYWxzIiwiYSI6Imo3MWxyTHMifQ.TjXg_IV7ZYMHX6tqjMikPg',
                        mapid: 'examples.map-i86nkdio'
                    }
                },
                mapbox_night: {
                    name: 'Mapbox Night',
                    url: 'http://api.tiles.mapbox.com/v4/{mapid}/{z}/{x}/{y}.png?access_token={apikey}',
                    type: 'xyz',
                    options: {
                        apikey: 'pk.eyJ1IjoidG9tYmF0b3NzYWxzIiwiYSI6Imo3MWxyTHMifQ.TjXg_IV7ZYMHX6tqjMikPg',
                        mapid: 'examples.map-0l53fhk2'
                    }
                }
            };

            angular.extend($scope, {
                london: {
                    lat: 51.505,
                    lng: -0.09,
                    zoom: 8
                },
                tiles: tilesDict.opencyclemap
            });

            $scope.changeTiles = function(tiles) {
                $scope.tiles = tilesDict[tiles];
            };
        } ]);
    </script>
    <style>
        .angular-leaflet-map {
            width: 640px;
            height: 400px;
        }
    </style>
  </head>
  <body>
  <div class="container">
      <div ng-controller="DemoController">

          <div class="row">
              <h2>This is a map that can change tiles by demand</h2>
          </div>

          <div class="row">
              <p>
              <button ng-click="changeTiles('opencyclemap')" class="btn btn-default">OpenCycleMaps</button>
              <button ng-click="changeTiles('openstreetmap')" class="btn btn-default">OpenStreetMaps</button>
              <button ng-click="changeTiles('mapbox_terrain')" class="btn btn-default">Mapbox Terrain</button>
              <button ng-click="changeTiles('mapbox_night')" class="btn btn-default">Mapbox Night</button>
              </p>
          </div>

          <div class="row">
              <p>Current TileLayer Url: {{ tiles.url }}</p>
          </div>

          <div class="row">
            <leaflet center="london" tiles="tiles" defaults="defaults"></leaflet>
          </div>
      </div>
  </div>

  </body>
</html>
