<!DOCTYPE html>
<html ng-app="demoapp">
  <head>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/leaflet/dist/leaflet.js"></script>
    <script src="../dist/angular-leaflet-directive.min.js"></script>
    <link rel="stylesheet" href="../bower_components/leaflet/dist/leaflet.css" />
    <script>
        var app = angular.module('demoapp', ['leaflet-directive']);
        app.controller('DemoController', [ '$scope', '$location', function($scope, $location) {
            angular.extend($scope, {
                london: {
                    lat: 51.505,
                    lng: -0.09,
                    zoom: 4
                }
            });
            $scope.$on("centerUrlHash", function(event, centerHash) {
                console.log("url", centerHash);
                $location.search({ c: centerHash });
            });
        }]);
    </script>
    <style>
        input {
            width: 120px;
            margin-right: 10px;
        }
    </style>
  </head>
  <body ng-controller="DemoController">
    <h1>Center map with URL synchronization example</h1>
    <div style="float: left;">
        <p>This demo syncs the map center position with the URL, and viceversa, using the <strong>center-url-params</strong> property.</p>
        <form>
            Latitude : <input type="number" step="any" ng-model="london.lat" />
            Longitude : <input type="number" step="any" ng-model="london.lng" />
            Zoom : <input type="number" step="any" ng-model="london.zoom" />
        </form>
        <leaflet center="london" url-hash-center="yes" width="640" height="400"></leaflet>
    </div>
    <ul style="float: left;">
        <li><a href="#/?c=36.8899:-121.8008:12">Watsonville</a>
        <li><a href="#/?c=34.0078:-118.8060:14">Malibu</a>
        <li><a href="#/?c=33.7717:-117.9458:12">Garden Grove</a>
        <li><a href="#/?c=32.5290:-117.0442:13">Tijuana</a>
    </ul>
  </body>
</html>
