<div class="col-md-10" ng-controller="CenterUrlHashController">
    <leaflet center="center" url-hash-center="yes" defaults="defaults"></leaflet>
    <form class="form-inline" role="form">
        <div class="form-group">
            <div class="control-group col col-lg-3">
                <label for="mapCenter" class="control-label">Center Url Hash</strong>
            </div>
            <div class="control-group col col-lg-3">
                <div class="input-group">
                    <span class="input-group-addon">lat</span>
                    <input class="form-control" type="number" step="any" ng-model="center.lat" />
                </div>
            </div>
            <div class="control-group col col-lg-3">
                <div class="input-group">
                    <span class="input-group-addon">lon</span>
                    <input class="form-control" type="number" step="any" ng-model="center.lng" />
                </div>
            </div>
            <div class="control-group col col-lg-3">
                <div class="input-group">
                    <span class="input-group-addon">zoom</span>
                    <input class="form-control"  type="number" ng-model="center.zoom" />
                </div>
            </div>
        </div>
    </form>
    <h2>Center Url Hash example</h2>
    <p>We can use a special functionality which will allow us to synchronize the map center with a url GET param, and viceversa. You can see it on this example, where the URL changes when the <i>center model</i> or the <i>map center</i> is changed. If you copy and paste the URL in another browser window the GET param will take priority and will center the map on the defined position.</p>
    <ul class="nav nav-tabs">
        <li class="active"><a href="" ng-click="activeTab='html'" data-toggle="tab">HTML code</a></li>
        <li><a href="" ng-click="activeTab='javascript'" data-toggle="tab">Javascript Angular controller</a></li>
    </ul>
    <div class="tab-container" ng-switch on="activeTab">
        <div hljs ng-switch-default>
<div ng-controller="CenterUrlHashController">
    <form>
        Latitude : <input type="number" step="any" ng-model="center.lat" />
        Longitude : <input type="number" step="any" ng-model="center.lng" />
        Zoom : <input type="number" step="any" ng-model="center.zoom" />
    </form>
    <leaflet center="center"></leaflet>
</div></div>
        <div hljs ng-switch-when="javascript" include="'src/controllers/CenterUrlHashController.js'"></div>
    </div>
    <p>You can see a standalone example of this code <a href="examples/0103-basic-center-url-hash-example.html#?c=51.5050:-0.0900:4">here</a>.</p>
</div>
