<ng-include src="'partials/examples/header.html'"></ng-include>
<div class="row">
    <ng-include src="'partials/examples/menu.html'" onload="exampleTab='google-maps'"></ng-include>
    <div class="col-md-10" ng-controller="GoogleMapsController">
        <leaflet center="berlin" layers="layers"></leaflet>
        <h2>Google Maps integration example</h2>
        <p>We must include the <a href="https://developers.google.com/maps/documentation/javascript/libraries">Google Maps Library</a> and the <a href="https://github.com/shramov/leaflet-plugins">Google Maps Leaflet Plugin</a> on our page first, and will include any of the available Google maps layers via the <strong>layers</strong> functionality like you can see on the example.</p>
        <ul class="nav nav-tabs">
            <li class="active"><a href="" ng-click="activeTab='html'" data-toggle="tab">HTML code</a></li>
            <li><a href="" ng-click="activeTab='javascript'" data-toggle="tab">Javascript Angular controller</a></li>
        </ul>
        <div class="tab-container" ng-switch on="activeTab">
            <div hljs ng-switch-default>
<script src="https://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false"></script>
<script src="plugins/layer/tile/Google.js"></script>
...
<div ng-controller="GoogleMapsController">
    <leaflet center="berlin" layers="layers"></leaflet>
</div></div>
            <div hljs ng-switch-when="javascript" include="'src/controllers/GoogleMapsController.js'"></div>
        </div>
        <p>You can see the code demonstrating this feature in the <a href="examples/googlemaps-example.html">Google Maps example</a>.</p>
    </div>
</div>
