<div class="col-md-10" ng-controller="ImageOverlayController">
    <leaflet center="center" layers="layers" defaults="defaults"></leaflet>
    <h2>ImageOverlay example</h2>
    <p>We can define a baselayer type of <strong>imageOverlay</strong>, so we will not be interacting with map tiles, but a single image, which can be panned and zoomed inside the leaflet map container.</p>
    <ul class="nav nav-tabs">
        <li class="active"><a href="" ng-click="activeTab='html'" data-toggle="tab">HTML code</a></li>
        <li><a href="" ng-click="activeTab='javascript'" data-toggle="tab">Javascript Angular controller</a></li>
    </ul>
    <div class="tab-container" ng-switch on="activeTab">
        <div hljs ng-switch-default>
<div ng-controller="ImageOverlayController">
    <leaflet center="eeuu" layers="layers" defaults="defaults"></leaflet>
</div></div>
        <div hljs ng-switch-when="javascript" include="'src/controllers/ImageOverlayController.js'"></div>
    </div>
    <p>You can see a standalone example of this code <a href="examples/0203-layers-imageoverlay-example.html">here</a>.</p>
</div>
