<div class="col-md-10" ng-controller="LegendController">
    <leaflet center="amsterdam" legend="legend" defaults="defaults"></leaflet>
    <h2>Legend example</h2>
    <p>We can embed easily a static legend information panel on our map. Let's see how:</p>
    <ul class="nav nav-tabs">
        <li class="active"><a href="" ng-click="activeTab='html'" data-toggle="tab">HTML code</a></li>
        <li><a href="" ng-click="activeTab='javascript'" data-toggle="tab">Javascript Angular controller</a></li>
        <li><a href="" ng-click="activeTab='css'" data-toggle="tab">CSS code</a></li>
    </ul>
    <div class="tab-container" ng-switch on="activeTab">
        <div hljs ng-switch-default>
<div ng-controller="LegendController">
     <leaflet center="amsterdam" legend="legend"></leaflet>
</div></div>
            <div hljs ng-switch-when="javascript" include="'src/controllers/LegendController.js'"></div>
            <div hljs ng-switch-when="css">
.legend {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background: rgba(255,255,255, 0.9);
    line-height: 18px;
    border-radius: 5px;
    color: #555;
}

.legend i {
    color: #777;
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}</div>
    </div>
    <p>You can see the code demonstrating this feature in the <a href="examples/legend-example.html">legend example</a>.</p>
</div>
