<div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
        <li ng-class="{ active: exampleTab == 'simple-map' }"><a ng-href="#!/examples/simple-map" ng-click="exampleTab='simple-map'" data-toggle="tab">Simple map</a></li>
        <li ng-class="{ active: exampleTab == 'center' }"><a ng-href="#!/examples/center" ng-click="exampleTab='center'" data-toggle="tab">Center</a></li>
        <li ng-class="{ active: exampleTab == 'custom-parameters' }"><a ng-href="#!/examples/custom-parameters" ng-click="exampleTab='custom-parameters'" data-toggle="tab">Custom parameters</a></li>
        <li ng-class="{ active: exampleTab == 'events' }"><a ng-href="#!/examples/events" ng-click="exampleTab='events'" data-toggle="tab">Events</a></li>
        <li ng-class="{ active: exampleTab == 'main-marker' }"><a ng-href="#!/examples/main-marker" ng-click="exampleTab='main-marker'" data-toggle="tab">Main Marker</a></li>
        <li ng-class="{ active: exampleTab == 'dragging-markers' }"><a ng-href="#!/examples/dragging-markers" ng-click="exampleTab='dragging-markers'" data-toggle="tab">Dragging markers</a></li>
        <li ng-class="{ active: exampleTab == 'path' }"><a ng-href="#!/examples/path" ng-click="exampleTab='path'" data-toggle="tab">Path</a></li>
        <li ng-class="{ active: exampleTab == 'geojson' }"><a ng-href="#!/examples/geojson" ng-click="exampleTab='geojson'" data-toggle="tab">GeoJSON</a></li>
        <li ng-class="{ active: exampleTab == 'legend' }"><a ng-href="#!/examples/legend" ng-click="exampleTab='legend'" data-toggle="tab">Legend</a></li>
        <li ng-class="{ active: exampleTab == 'customized-markers' }"><a ng-href="#!/examples/customized-markers" ng-click="exampleTab='customized-markers'" data-toggle="tab">Customized markers</a></li>
        <li ng-class="{ active: exampleTab == 'google-maps' }"><a ng-href="#!/examples/google-maps" ng-click="exampleTab='google-maps'" data-toggle="tab">Google Maps integration</a></li>
    </ul>
</div>
